@function spacer($key: "1") {
  @return map-get($spacers, $key);
}

.outline {
  outline: 1px solid red;
  outline-offset: -1px;
}

:root {
  --dark: #{$gray-900};
  --accent: #{$gray-200};
  --light: #{$gray-100};
  --interactive: #{$blue};

  @media (prefers-color-scheme: dark) {
    --dark: #{$gray-100};
    --accent: #{$gray-800};
    --light: #{$gray-700};
    --interactive: #{$orange};
  }
}

.column-2 {
  column-count: 2;
  column-gap: $grid-gutter-width * 1.5;
  & > * {
    break-inside: avoid;
  }
}

body {
  background-color: var(--light);
  color: var(--dark);
}

a {
  color: var(--interactive);
  text-decoration: $link-decoration;
  background-color: transparent;

  @include hover {
    color: var(--interactive);
    text-decoration: $link-hover-decoration;
  }
}

.icon {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.bg--accent {
  background-color: var(--accent);
}

.br--accent {
  @include media-breakpoint-up(lg) {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: var(--accent);
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}

// .resume__header {
//   background-color: var(--accent);
// }

.resume__header-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: spacer(4);
  padding-bottom: spacer(4);
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    min-height: 220px;
  }
}

.resume__header-cv {
  @include font-size(10);
  letter-spacing: 0.25em;
}
.resume__header-who {
  @include font-size(42);
  font-weight: 700;
  letter-spacing: 0.15em;
}
.resume__header-job {
  @include font-size(16);
  color: darken($gray-500, 28.8%);
  letter-spacing: 0.1em;
}

.resume__section {
  padding-bottom: spacer(5);
}

.resume__section-title {
  text-transform: uppercase;
  padding-top: spacer(4);
  padding-bottom: spacer(2);
  letter-spacing: 0.12em;
}

.resume__section-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: spacer(4);
  h3 {
    padding-right: spacer(2);
  }
}
.resume__section-body {
  padding-top: spacer(2);

  ul {
    list-style-type: square;
  }
}

.resume__item {
  & + & {
    margin-top: spacer(4);
  }
}

.resume__item-title {
  font-size: 1.25em;
  padding-top: 0;
  padding-bottom: spacer(1);
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

.resume__section--studies {
  .resume__item-title {
    font-size: inherit;
    font-weight: 700;
  }
}

a {
  .icon {
    width: 0.75em;
  }
}

.resume__item-date {
  padding-bottom: spacer(2);
  margin-bottom: spacer(2);
  border-bottom: 1px solid var(--accent);

  @include media-breakpoint-up(lg) {
    text-align: right;
    height: 100%;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: spacer(3);
  }
}

@media print {
  a[href]:after {
    font-size: 0.75em;
    content: " (" attr(href) ")";
  }

  .icon {
    width: auto;
    svg {
      display: none;
    }
    &:before {
      content: none;
    }
    &:after {
      font-size: 0.75em;
      content: " " attr(title) "";
    }
  }
}
