<div class="bg--accent">
    <aside class="resume__section resume__section--profil p-4">
        <h2 class="resume__section-title">Profil</h2>
        <section class="resume__section-body">
            <p>Développeur web depuis 2005, je propose mon expertise sur les technologies HTML, CSS et Javascript. J'aide à la conception, production, maintenance et optimisation de sites internet, web-apps, newsletters et design systems.</p>
            <p>Passionné, ma motivation première est la production d'applicatifs web accessibles, performants et maintenables.</p>
        </section>
    </aside>
</div>

<div class="bg--accent mt-4">
    <aside class="resume__section resume__section--profil p-4">
        <h2 class="resume__section-title">Contact</h2>
        <section class="resume__section-body">
            <ul>
                <li><a href="https://www.linkedin.com/in/julienlopinto/">Profil LinkedIn</a></li>
                <li><a href="https://github.com/jlopinto/">Profil Github</a></li>

            </ul>
        </section>
    </aside>
</div>
