<div class="resume__section-body">
    <h3 class="resume__item-title">Intégration web</h3>
    <p>Sur la base de directives et sources graphiques, je conçois, développe et prépare tout les fichiers nécessaires à la mise en oeuvre des interfaces du projet dans un navigateur.</p>
    <ul>
        <li>HTML: éditions 4/5, ARIA, RGAA, WCAG, SVG.</li>
        <li>Javascript: éditions 5/6, typescript.</li>
        <li>CSS: éditions 3/4, SCSS, OOCSS/BEM, Responsive.</li>
    </ul>
</div>
<div class="resume__section-body">
    <h3 class="resume__item-title">Développements frontend</h3>
    <p>Je suis à même d'apporter mon savoir faire en intégration dans le respect des API des solutions suivantes:
    </p>
    <ul class="column-2">
        <li>React</li>
        <li>Angular</li>
        <li>VueJS</li>
        <li>Drupal</li>
        <li>Symfony</li>
        <li>Wordpress</li>
        <li>Prestashop</li>
        <li>bundling, workflow: grunt/gulp/webpack</li>
    </ul>
</div>
<div class="resume__section-body">
    <h3 class="resume__item-title">Travail en équipe</h3>
    <ul>
        <li>Git</li>
        <li>EditorConfig</li>
        <li>Linters</li>
        <li>Agilité</li>
    </ul>
</div>
