<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">2003 - 2005</div>
        </div>
        <div class="col-lg-4">
            <div class="resume__item-title">DUT informatique</div>
            <div class="resume__item-props">Paul sabatier - Toulouse</div>
        </div>
    </div>
</div>

<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">2001 - 2003</div>

        </div>
        <div class="col-lg-4">
            <div class="resume__item-title">BTS informatique de gestion</div>
            <div class="resume__item-props">ESICAD - Labege</div>
        </div>
    </div>
</div>

<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">1999 - 2001</div>
        </div>
        <div class="col-lg-4">
            <div class="resume__item-title">BAC STI génie mécanique</div>
            <div class="resume__item-props">Lycée Jean Mermoz - Montpelier</div>
        </div>
    </div>
</div>


<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">
                1997 - 1999
            </div>
        </div>
        <div class="col-lg-4">
            <div class="resume__item-title">BEP productique mécanique</div>
            <div class="resume__item-props">Lycée Professionnel Sixte Vignon - Aureilhan</div>
        </div>
    </div>
</div>
