<header class="resume__header bg--accent">
    <div class="container">
        <div class="resume__header-inner">
            <div class="media mt-auto">
                <img src="images/0.jpg" class="img-fluid mr-3" alt="Portrait de Julien Lopinto"/>
                <div class="media-body align-self-end">
                    <div class="resume__header-cv">Curriculum vitæ
                        <!-- &mdash; draft -->
                    </div>
                    <h1 class="resume__header-who mb-0">Julien Lopinto</h1>
                    <p class="resume__header-job">Intégrateur / développeur frontend</p>
                </div>
            </div>
        </div>
    </div>
</header>
